input {
  file {
    path => "/Users/marcuspilkington/Workshop/Pokemon.csv"
    start_position => "beginning"
    sincedb_path => "/dev/null"
    }
}
filter {
  csv {
    separator => ","
    columns => ["#","Name","Type 1","Type 2","Total","HP","Attack","Defense","Sp. Atk","Sp. Def","Speed","Generation","Legendary"]
  }
  mutate{convert => ["#","integer"]}
  mutate{convert => ["Total","integer"]}
  mutate{convert => ["HP","integer"]}
  mutate{convert => ["Attack","integer"]}
  mutate{convert => ["Defense","integer"]}
  mutate{convert => ["Sp. Atk","integer"]}
  mutate{convert => ["Sp. Def","integer"]}
  mutate{convert => ["Speed","integer"]}
  mutate{convert => ["Generation","integer"]}
  mutate{convert => ["Legendary","boolean"]}
}
output{
  elasticsearch{
    hosts => "localhost"
    index => "pokedex"
    document_type => "Pokemon"
  }
  stdout{}
}
